.jumbotron {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-repeat:repeat
}



h1 {
   margin-bottom: 15px;
   font-family: Libre Baskerville;
   font-style: normal;
   font-weight: normal;
   font-size: 33px;
   line-height: 41px;
   text-align: center;
   color: #000000;
 }

h5 {
    font-family: Libre Baskerville;
   font-style: normal;
   font-weight: normal;
   line-height: 22px;
   color: black;
}

#article_image {
    text-align: center;
}
